
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Indie+Flower&display=swap');
body{
 
background-color: rgba(0, 0, 0, 0.829);
color: white;
}

.main{
    display: flex;
    justify-content: center;
margin-top: 8%;

}
.head{
    margin: 35px;
    font-family: 'Creepster', cursive;
   
    font-size: 60px;
}
fieldset{
    margin: 10px;
    padding: 25px;
    border: none;
    border-radius: 10PX;
    box-shadow: rgba(255, 255, 255, 0) 0px 30px 60px -12px inset, rgba(244, 239, 239, 0.3) 0px 18px 36px -18px inset;
 
    /* border: 1.5px dotted; */
    background-color: rgba(0, 0, 0, 0.201);
 
}
legend{
    background-color: rgb(49, 102, 151);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5PX;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    
    padding: 7px;
    
    border-radius: 5px;
  }

button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #4c63af;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Creepster', cursive;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.684) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(244, 239, 239, 0.3) 0px 18px 36px -18px inset; */
}
button:hover{
    background-color: #4860ae6a;
}

ul li {
    padding: 10px;
    transition:all 500ms;
   

}
ul li:hover{
    transform: scale(1.25);

}


footer {

    margin: 0px 30px 10px 25%;
    bottom: 0;
    position: fixed;

}

.social-link {
    padding: 10px;
    cursor: pointer;
    transition: all 250ms;
    border-radius: 5px;
   


}

.social-link:hover {
    transition: 500ms;
    background-color: rgba(237, 234, 234, 0.486);
    border-radius: 5px;
    transform: scale(1.15);
}
#fb:hover{
    background-color: #0800fa38;
}
#insta:hover{
    background-color: #ff019536;
}
#twitter:hover{
    background-color: #00abfa36;
}
#yt:hover{
    background-color: #ff000036;
}
a{
    text-decoration: none;
}

.copyright{
  margin: 20px;
margin-bottom: 2px;
}

